body {
  color: cornflowerblue;
  width: 10000pc;
}

.photo-container {

  display: inline-block;
  margin-left: 50px;

  min-height: 100px;
  min-width: 100px;

  -webkit-box-shadow: -3px 4px 5px 0px rgba(125,125,125,1);
  -moz-box-shadow: -3px 4px 5px 0px rgba(125,125,125,1);
  box-shadow: -3px 4px 5px 0px rgba(125,125,125,1);
}
